{
  "printWidth": 150,
  "tabWidth": 2,
  "singleQuote": true,
  "trailingComma": "all",
  "semi": true,
  "arrowParens": "avoid",
  "importOrder": [
    "^@config/(.*)$",
    "^@routes/(.*)$",
    "^@services/(.*)$",
    "^@utils/(.*)$",
    "^@models/(.*)$",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}